* {
	box-sizing: border-box;
}

body {
	background-color: var(--gray2);
	font-family: var(--body-font);
	font-size: 100%;
	line-height: 1.5;
	color: var(--body-color);
	margin: 0;
}




.container {
	max-width: 1200px;
	margin: auto;
}



.page-wrapper {
	margin: 0 1rem;

	@media (min-width: 768px){
		margin: 0;
		display: flex;
	}
}


.site-content {
	background-color: white;
	padding: 1rem;
	margin-bottom: 3rem;

	@media (min-width: 768px){
		padding: 2rem;
	}
}


.page-content {
	@media (min-width: 768px){
		flex: 0 0 75%;
	}
}

.page-sidebar {
	@media (min-width: 768px){
		flex: 0 0 25%;
	}
}


.site-footer {
	background-color: var(--purple);
	padding: 2rem 0;
}



.sr-only {
	display: none;
}


