.site-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.site-branding {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}


.site-title {
	margin: 0;
	width: 100%;
	flex: 0 0 300px;
}

.site-title-mark {
	display: block;
	background-color: var(--purple-alt);
	background-image: url('images/the-college-mark.svg');
	background-position: center center;
	background-size: auto 4rem;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: auto;
		padding-top: 5rem;
	}
}

.site-description {
	font-family: var(--heading-font);
	font-size: 0.9rem;
	line-height: 1.25em;
	color: var(--purple);
	margin: 0 20px 0 20px;
	padding: 0;
	flex: 0 1 300px;
}