.top-stories-grid {
	display: grid;
	grid-gap: 1rem;
	margin: 0 1rem 3rem 1rem;

	@media (min-width: 768px){
		margin: 0 0 3rem 0;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);

		> article:nth-child(1) {
			grid-row: 1 / 4;
		}
	}
}


.posts-section {
	margin-bottom: 3rem;
}

.theme-section-posts {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	@media (min-width: 768px){
		grid-template-columns: repeat(4,1fr);
	}
}
