.top-stories-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4,1fr);
	margin-bottom: 3rem;
}

.post-card {
	display: grid;
	align-content: start;
	position: relative;
	background-color: white;
	padding: 1em;

	header {
		order: 2;
		font-size: 1.25em;
		line-height: 1.2em;
		margin-top: 1rem;

		a {
			text-decoration: none;
		}
	}

	.theme-icon {
		box-sizing: content-box;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
	}
}

.post-card-image {
	margin: 0;
	padding: 0;
	background-color: var(--gray3);
	order: 1;
	
	&::after {
		content: '';
		display: block;
		padding-top: 50%;
	}
}