.top-stories-grid {
	display: grid;
	grid-gap: 1rem;
	margin: 0 1rem 3rem 1rem;

	@media (min-width: 768px){
		margin: 0 0 3rem 0;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);

		> article:nth-child(1) {
			grid-row: 1 / 4;
		}
	}
}

.post-card {
	display: grid;
	align-content: start;
	position: relative;

	header {
		order: 2;
		font-size: rem(20);
		line-height: 1.1;
		margin-top: 1rem;
	}

	.theme-icon {
		box-sizing: content-box;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
	}

	@media (min-width: 768px){
		.top-stories-grid &:nth-child(n+2) {
			grid-template-columns: 80px 1fr;
			grid-column-gap: 1rem;

			header {
				margin-top: 0;
			}

			.post-card-image {
				grid-column: 1 / 2;

				&::after { padding-top: 100%; }
			}
		}
	}

	.top-stories-boxed & {
		padding: 1em;
		background-color: white;
	}
}

.post-card-image {
	margin: 0;
	padding: 0;
	background-color: var(--gray3);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	order: 1;
	
	&::after {
		content: '';
		display: block;
		padding-top: 50%;
	}
}


.posts-section {
	margin-bottom: 3rem;
}

.theme-section-posts {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1rem;

	@media (min-width: 768px){
		grid-template-columns: repeat(4,1fr);
	}
}




// news section

.news-section {
	header h2 {
		margin: 0 0 2rem 0;
		color: var(--purple);
		font-weight: normal;
		font-size: rem(48);
	}
}