.site-navigation {
	align-self: flex-end;
	flex: 0 0 auto;
}

.site-nav-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		padding: 0;
		margin: 0;

		> a {
			display: block;
		}
	}
}