.entry-title {
	font-weight: normal;
	font-size: 1.75rem;
	line-height: 1.25em;
	margin: 0 0 2rem 0;

	@media (min-width: 768px){
		font-size: 3rem;
	}
}

.entry-content {
	h2 {
		font-family: var(--standout-font);
		font-weight: normal;
		font-size: 1.75em;
		letter-spacing: 0.5px;

		@media (min-width: 768px){
			font-size: 1.9em;
		}
	}

	h3 {
		font-family: var(--heading-font);
		font-size: 1.25em;
		font-weight: bold;
	}

	blockquote {
		clear: both;
		border-left: 4px solid var(--gray2);
		margin: 1em 0 1em 1em;
		padding: 0 3em 0 1em;
		color: var(--gray1);
		font-family: var(--serif-font);
		font-size: 1.5em;
		line-height: 1.5em;
		position: relative;

		&::after {
			content: 'â€';
			font-family: var(--serif-font);
			display: inline-block;
			position: absolute;
			font-size: 2em;
			line-height: 1em;
			right: 0;
			bottom: 0;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

.post-intro {
	font-family: var(--standout-font);
	font-size: 1.5em;
	line-height: 1.3em;
	color: var(--gray1);

	@media (min-width: 768px){
		font-size: 2em;
		line-height: 1.1em;
	}
}




.sidebar-box {
	background-color: var(--gray2);
	float: right;
	width: auto;
	padding: 1rem;
	margin: 0 0 1rem 0;

	h3 {
		font-family: var(--standout-font);
		font-size: 1.75em;
		font-weight: normal;
		margin: 0 0 1em 0;
		padding-bottom: 0.25em;
		border-bottom: 4px solid white;
	}

	ul {
		list-style: square;
		padding-left: 1em;
	}

	@media (min-width: 768px){
		margin: 0 0 2rem 2rem;
		width: 300px;
	}
}




// image gallery stuff

.gallery {
	display: grid;
	align-items: stretch;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	margin-bottom: 3rem;

	@media (min-width: 768px){
		@for $i from 1 through 9 {
			&.gallery-columns-#{$i} { grid-template-columns: repeat(#{$i},1fr); }
		}
	}
}

.gallery-item {
	margin: 0;
	padding: 0;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}


.wp-caption {
	background-color: var(--gray2);
	padding: 0.5rem;
	margin: 1rem 0;

	> img {
		width: 100%;
		height: auto;
		display: block;
	}

	@media (min-width: 768px){

		&.alignright {
			float: right;
			margin: 0 0 1rem 1rem;
		}

		&.alignleft {
			float: left;
			margin: 0 1rem 1rem 0;
		}

		&.aligncenter {
			margin: 1rem auto;
		}

	}
}

.wp-caption-text {
	margin-top: 0.5rem;
	font-weight: bold;
}