.theme-icon {
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center center;
	width: 5rem;
	height: 5rem;
	margin: 0;
	padding: 0;

	.entry-content & {
		float: right;
		margin: -2rem -2rem 2rem 2rem;
	}

	.theme-engagement & {
		background-color: var(--engagement);
		background-image: url('images/theme-icons/engagement-white.svg');
	}
}


.theme-innovation {
	h1, a {
		color: var(--innovation);
	}
}


.theme-engagement {
	h1, a {
		color: var(--engagement);
	}

	.entry-content {

		h2 {
			color: var(--engagement);
		}

		blockquote {
			border-color: var(--engagement);

			&::after {
				background-image: url('images/theme-icons/quotes-blue.svg');
			}
		}

	}

	.sidebar-box {
		h3 {
			color: var(--engagement);
		}
	}
}

.theme-exploration {
	h1, a {
		color: var(--exploration);
	}
}

.theme-relevance {
	h1, a {
		color: var(--relevance);
	}
}